##  Week2 복습과제
### 1. HR_employee_data 를 이용한 마찰("Attrition") 여부를 파악 
### 결정트리, 랜덤포레스트 실습

In [36]:
# 구글 코랩 이용하시는 분들만 돌려주세요!
from google.colab import files
uploaded = files.upload()

Saving HR_employee_data.csv to HR_employee_data (1).csv

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### 1.1 문제와 같이 제시된 'HR_employee_data.csv'를 읽어와 HR에 저장하시오

In [38]:
HR=pd.read_csv("HR_employee_data.csv")

In [39]:
#### 1.2 HR 데이터의 상위 5 행을 통해 데이터를 파악하시오

In [40]:
HR.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

#### 1.3 HR 데이터를 describe()함수를 사용해서 의미 없어 보이는 값을 파악하시오.

In [41]:
pd.set_option("display.float_format", "{:.2f}".format)
HR.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,...,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,1.00,1024.87,2.72,65.89,2.73,2.06,...,2.71,80.00,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,0.00,602.02,1.09,20.33,0.71,1.11,...,1.08,0.00,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.00,1.00,1.00,30.00,1.00,1.00,...,1.00,80.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,1.00,491.25,2.00,48.00,2.00,1.00,...,2.00,80.00,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,1.00,1020.50,3.00,66.00,3.00,2.00,...,3.00,80.00,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,1.00,1555.75,4.00,83.75,3.00,3.00,...,4.00,80.00,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,1.00,2068.00,4.00,100.00,4.00,5.00,...,4.00,80.00,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

#### 1.4 위 describe() 함수를 사용한 결과  'EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours' 열이 의미가 없어 보입니다.
- HR 데이터 셋에서 'EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours' 열들을 삭제하시오.

In [42]:
HR.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis="columns", inplace=True)

In [43]:
HR.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

#### 1.5 'Attrition'열에 어떤 값이 들어있는 지 알아보시오 (예측하고자 하는 y값이 될 열 입니다.)

In [44]:
HR['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

#### 1.6 HR 데이터의 'Attrition'열의 문자열 속성값을 1과 0의 값으로 바꾸시오.
- 'Yes'는 1로 'No'는0으로

In [45]:
HR['Attrition'] = HR.Attrition.astype("category").cat.codes

In [46]:
HR['Attrition'].unique()

array([1, 0], dtype=int8)

#### 1.7 독립변수(X)와 종속변수(y) 분리 및 인코딩 
- y에 'Attrition' 열에 해당하는 값을, X에 나머지 변수들을 저장하시오.
- LabelEncdoer를 이용해 categorical 변수에 대해 인코딩을 하시오.
- X와 y를 X_train, X_test, y_train, y_test으로 나누시오. (test_size=0.3, random_state=42)

In [47]:
# HR.info() -> 명목변수 확인

In [49]:
from sklearn.model_selection import train_test_split

X = HR.drop('Attrition', axis=1)
y = HR.Attrition

from sklearn.preprocessing import LabelEncoder
label = LabelEncoder()
for column in ['BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus','OverTime']:
    X[column] = label.fit_transform(X[column])
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [50]:
X.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,2,1102,2,1,2,1,2,0,94,...,3,1,0,8,0,1,6,4,0,5
1,49,1,279,1,8,1,1,3,1,61,...,4,4,1,10,3,3,10,7,1,7
2,37,2,1373,1,2,2,4,4,1,92,...,3,2,0,7,3,3,0,0,0,0
3,33,1,1392,1,3,4,1,4,0,56,...,3,3,0,8,3,3,8,7,3,0
4,27,2,591,1,2,1,3,1,1,40,...,3,4,1,6,3,3,2,2,2,2

#### 1.8 DecisionTreeClassifier를 사용해 훈련데이터를 fit 한 후, 테스트 셋으로 예측의 정확도를 구하시오. 
- DecisionTreeClassifer 의 random_state=42

In [51]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

tree_clf = DecisionTreeClassifier(random_state=42)
tree_clf.fit(X_train, y_train)

pred = tree_clf.predict(X_test)
print("Accuracy Score :", accuracy_score(y_test, pred))

Accuracy Score : 0.7777777777777778

#### 1.9 RandomForestClassifier를 사용해 훈련데이터를 fit 한 후, <br>테스트 셋으로 예측의 정확도를 구하고<br> 앞의 문제와 비교해 성능이 향상되었는 지 살펴보시오
- 조건 : Forest의 tree 개수를 100개로 제한하시오

In [52]:
from sklearn.ensemble import RandomForestClassifier

rf_clf = RandomForestClassifier(n_estimators=100)
rf_clf.fit(X_train, y_train)

pred = rf_clf.predict(X_test)
print("Accuracy Score :", accuracy_score(y_test, pred))

Accuracy Score : 0.8639455782312925

#### 1.10 GridSearchCV를 사용해 최적의 하이퍼 파라미터 조합을 찾으시오

params = {
    'n_estimators' : [30,40, 50, 70, 80, 90, 100],
    'max_depth' : [6, 8, 10, 12]
}

In [53]:
from sklearn.model_selection import GridSearchCV

params = {
    'n_estimators' : [30,40, 50, 70, 80, 90, 100],
    'max_depth' : [6, 8, 10, 12]
}
grid_search = GridSearchCV(rf_clf, param_grid = params) 
grid_search.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(),
             param_grid={'max_depth': [6, 8, 10, 12],
                         'n_estimators': [30, 40, 50, 70, 80, 90, 100]})

In [54]:
grid_search.best_params_

{'max_depth': 12, 'n_estimators': 40}

-GridSearchCV를 이용해 최적으로 학습된 estimators로 예측을 수행하시오

In [55]:
rf_clf_pred = grid_search.best_estimator_.predict(X_test)
rf_clf_accuracy = accuracy_score(y_test, rf_clf_pred)
print('Accuracy score: ', rf_clf_accuracy)

Accuracy score:  0.8662131519274376

## <mobile_price 데이터 셋을 이용한 SVM 실습>
### 2. 휴대폰의 여러가지 특성을 기반으로 가격 범위를 예측하는 분류 실습입니다.

다음은 mobile_price.csv 데이터에 대한 설명 입니다.

- battery_power: Total energy a battery can store in one time measured in mAh
- blue: Has bluetooth or not
- clock_speed: speed at which microprocessor executes instructions
- dual_sim: Has dual sim support or not	
- fc: Front Camera mega pixels
- four_g: Has 4G or not
- int_memory: Internal Memory in Gigabytes	
- m_dep: Mobile Depth in cm
- mobile_wt: Weight of mobile phone
- n_cores: Number of cores of processor	
- pc: Primary Camera mega pixels
- px_height: Pixel Resolution Height
- px_width: Pixel Resolution Width
- ram: Random Access Memory in Megabytes
- sc_h: Screen Height of mobile in cm
- sc_w: Screen Width of mobile in cm
- talk_time: longest time that a single battery charge will last when you are
- three_g: Has 3G or not
- touch_screen: Has touch screen or not
- wifi: Has wifi or not

<br>
더 자세한 데이터 정보는 https://www.kaggle.com/iabhishekofficial/mobile-price-classification 에서 확인하시면 됩니다.

In [56]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

In [57]:
## 구글 코랩 사용하시는 분들만 이 코드 돌려주세요!
from google.colab import files
uploaded = files.upload()

Saving mobile_price.csv to mobile_price (1).csv

#### 2.1 mobile_price.csv 데이터 셋을 가져와서 처음 5개 행을 확인하시오.

In [20]:
df=pd.read_csv("mobile_price.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.20,0,1,0,7,0.60,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.50,1,0,1,53,0.70,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.50,1,2,1,41,0.90,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.50,0,0,0,10,0.80,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.20,0,13,1,44,0.60,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

#### 2.2 info() 함수를 이용해 데이터프레임의 기본 정보를 확인하시오.

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

#### 2.3 describe() 함수를 이용해 Target 칼럼 'price_range'의 정보를 확인하시오.

In [64]:
df['price_range'].describe()

count   2000.00
mean       1.50
std        1.12
min        0.00
25%        0.75
50%        1.50
75%        2.25
max        3.00
Name: price_range, dtype: float64

#### 2.4 unique()함수를 이용해 Target 클래스의 종류를 확인하시오.

In [65]:
df['price_range'].unique()

array([1, 2, 3, 0])

In [66]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

#### 2.6 데이터의 타깃 칼럼을 분리해, X_mobile과 y_mobile으로 저장하시오

In [67]:
X_mobile= df.drop('price_range', axis = 1)
y_mobile= df['price_range']

#### 2.7 피처에 대해 MinMaxScaler()를 이용해 스케일링을 진행하시오.

In [68]:
scaler=MinMaxScaler()
X_mobile=scaler.fit_transform(X_mobile)

#### 2.8 train_test_split를 사용하여 train 셋과 test 셋을 분리하시오
- testset 의 size : 전체 데이터 셋의 20%
- 각 set의 이름 : X_train, X_test, y_train, y_test
- random_state = 42

In [69]:
X_train, X_test, y_train, y_test=train_test_split(X_mobile,y_mobile, test_size=0.2, random_state=42)

#### 2.9 선형 SVC 모델 (kernel: linear, C: 20) 을 만들어 fit 시키시오.

In [70]:
lin_svc=SVC(kernel='linear', C=20).fit(X_train, y_train)

#### 2.10 cross_val_score(cv=5)를 이용하여 CV점수를 출력하고 그 평균값을 구하시오.

In [71]:
from sklearn.model_selection import cross_val_score

In [72]:
scores=cross_val_score(lin_svc, X_train, y_train, cv=5)
print("CV 점수 : ", scores)
print("CV 평균점수 :",scores.mean())

CV 점수 :  [0.95     0.9625   0.95     0.925    0.971875]
CV 평균점수 : 0.9518749999999999

#### 2.11 가우시안 RBF 커널을 사용해서 SVM 모델을 만들어 보시오. <br>그리고 ch2 p113~의 코드를 참고하여 GridSearchCV(cv=5)를 사용해서<br> Gamma와 C의 최적 파라미터를 찾고 best parameter, best score를 출력하시오.

```python
params = {
    'gamma':[.1, .25, .5, 1],       
    'C': [1,5,10,20,40,100]
}
```

In [73]:
import warnings
warnings.filterwarnings("ignore")
rbf_svm=SVC(kernel="rbf")

In [74]:
from sklearn.model_selection import GridSearchCV

params = {
    'gamma':[.1, .25, .5, 1],       
    'C': [1,5,10,20,40,100]
}

# GridSearch
grid_search = GridSearchCV(rbf_svm, param_grid=params , cv = 5)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=SVC(),
             param_grid={'C': [1, 5, 10, 20, 40, 100],
                         'gamma': [0.1, 0.25, 0.5, 1]})

In [75]:
grid_search.best_params_, grid_search.best_score_

({'C': 10, 'gamma': 0.1}, 0.903125)

In [76]:
rbf_svm=SVC(kernel='rbf', C=10, gamma=.1).fit(X_train, y_train)
prediction=rbf_svm.predict(X_test)
pred=pd.DataFrame(prediction)
pred

     0
0    0
1    2
2    1
3    3
4    1
..  ..
395  3
396  2
397  1
398  1
399  2

[400 rows x 1 columns]